version: '3.8'

services:
  mysql_db:
    image: mysql:8.0
    restart: always
    env_file:
    - .env
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app_network

  frontend:
    image: sofiaksbarros/frontend
    build:
      context: ./src/frontend
    ports: 
      - "8080:8000"
    env_file:
    - .env
    depends_on:
      - mysql_db
    networks:
      - app_network

  backend:
    image: sofiaksbarros/backend
    build:
      context: ./src/backend
    ports: 
      - "8280:8000"
    env_file:
    - .env
    depends_on:
      - mysql_db
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge